/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./styles/movie.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.movie_movie__n6Ry2 {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 15px;
  gap: 15px;
  cursor: pointer;
  place-items: center;
}

.movie_movie__n6Ry2 img {
  max-width: 100%;
  min-height: 100%;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
  object-fit: cover;
}

.movie_movie__n6Ry2 img {
  opacity: 0.7;
}

.movie_movie__n6Ry2 img:hover {
  opacity: 1;
}

.movie_movie__n6Ry2 a {
  text-align: center;
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./styles/movie-info.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.movie-info_container__FB7p9 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 25px;
  gap: 25px;
  width: 80%;
  margin: 0 auto;
}

.movie-info_poster__Ewjrh {
  border-radius: 20px;
  max-width: 100%;
  place-self: center;
}

.movie-info_title__Rggks {
  color: white;
  font-size: 28px;
  font-weight: 600;
}

.movie-info_info__RVgwq {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
  font-size: 13px;
  color: rgb(194, 194, 194);
}

.movie-info_imgList___2vC_ {
  display: flex;
  align-items: center;
}

.movie-info_overview__I50CH {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 15;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-info_flag__vascM {
  width: 20px;
}

.movie-info_production__d5_Yi {
  margin-left: 8px;
  max-height: 15px;
  background-color: white;
  border-radius: 5px;
}

.movie-info_cast__UjH64 {
  display: flex;
  overflow-y: hidden;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 14px;
}

.movie-info_profile__bTdPX img {
  width: 90px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.movie-info_name__CCHib {
  color: rgb(194, 194, 194);
  margin-top: 3px;
}

.movie-info_cast__UjH64::-webkit-scrollbar {
  width: 5px;
}

/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./styles/home.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.home_container__STkGE {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  gap: 25px;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;

  overflow: hidden;
}

.home_title__znpQq {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 600;
}

.home_movieSet__UTtzv {
  margin-bottom: 50px;
}

