.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  width: 80%;
  margin: 0 auto;
}

.poster {
  border-radius: 20px;
  max-width: 100%;
  place-self: center;
}

.title {
  color: white;
  font-size: 36px;
  font-weight: 600;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
  color: rgb(194, 194, 194);
}

.imgList {
  display: flex;
  align-items: center;
}

.flag {
  width: 20px;
}

.production {
  margin-left: 8px;
  max-height: 15px;
  background-color: white;
  border-radius: 5px;
}

.cast {
  display: flex;
  overflow-y: hidden;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 14px;
}

.profile img {
  width: 90px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.name {
  color: rgb(194, 194, 194);
  margin-top: 3px;
}

.cast::-webkit-scrollbar {
  width: 5px;
}
